
@font-face {
    font-family: 'index-icons';
    src: url('../../icons/font/icons-fonts/index-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'newSesion-icons';
    src: url('../../icons/font/icons-fonts/newSesion-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}